feedback on draft rfc SMTP Extension for Longer Email Address

after https://github.com/flashmob/go-guerrilla/issues/204#issuecomment-618642680, 

@viruthagiri, hope you don't mind.

which section in rfc1034? for example https://tools.ietf.org/html/rfc1034#section-2.2

update that in your rfc, don't forget other sections. then there is implicit `1 character = 1 octet` in https://tools.ietf.org/html/draft-viruthagiri-email-address-length-01#section-4

> which section in rfc1034? for example https://tools.ietf.org/html/rfc1034#section-2.2

The draft already says like this right?  

```
Just to be clear,

   [RFC1034], Section 3.5 says, A domain label must be 63 characters or less. For example, www.example.com contains 3 labels. i.e. www, example and com.
```

https://tools.ietf.org/html/draft-viruthagiri-email-address-length-01#section-1

`The term "character" in this document refers to an "octet character".`



> in https://tools.ietf.org/html/draft-viruthagiri-email-address-length-01#section-4 last para.

>for example https://tools.ietf.org/html/rfc1034#section-2.2

---

> The term "character" in this document refers to an "octet character".

that's worse. **character refers to octet** better conveys the idea of size of 1 character being 8 bits. unless I am mistaken.

And to be clear, **if there's other examples of links that could be expanded to be more specific, would be great if you could update them.** for example

>   This memo ... restriction set by
   RFC 5321.

---

another thing to add to https://tools.ietf.org/html/draft-viruthagiri-email-address-length-01#section-4  could be an example for 

>If overall email address length can be defined as "n", then ... length.

with specific value of n, say 289

thanks. have a nice day. keep up the good work. 👏

[ret394](https://github.com/ret394)






I really appreciate your feedback. I'm not sure how much SMTP knowledge you have. So excuse me if I offer too much basic info which you already know. 

> that's worse. character refers to octet better conveys the idea of size of 1 character being 8 bits. unless I am mistaken.

A character can be eight or sixteen or even more bits, but an octet is always eight bits. https://stackoverflow.com/questions/478105/difference-between-character-and-octet-in-hashing

RFC 5321 uses the term "octet" everywhere. 

For example,
https://tools.ietf.org/html/rfc5321#section-4.5.3.1.1 says

The maximum total length of a user name or other local-part is 64 **octets**.

https://tools.ietf.org/html/rfc2821#section-4.5.3.1 says

The maximum total length of a user name or other local-part is 64 **characters**.

SMTP relies on ACSII. The original ASCII is 7-bit. Extended ASCII is 8-bit. To make it more clear RFC 5321 uses the term "octet". 

Other encodings like UTF-8 supported via SMTP extensions.  https://en.wikipedia.org/wiki/Extended_SMTP#Extensions

Hope that helps. 

Thanks for the feedback. I'll improve the draft in the next version. 

At the moment I'm working on some patent stuffs. So my next version may be delayed. But feel free to let me know if you have more ideas to improve the content.

Thanks 

its not octet its `octet character`. just don't think the potential confusion is useful to folks or technically required. please take regular breaks.

I'll conclude this thread here. all the best.

thanks. have a nice day.

[ret394](https://github.com/ret394)